# 1. Твій приватний ключ (згенерований через WalletManager)
PRIVATE_KEY=0xваша_каша_з_символів_яку_ми_щойно_отримали

# 2. RPC для Mainnet 
RPC_URL=https://eth.llamarpc.com

# 3. RPC для Sepolia 
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com


ADDRESS=0xваша_каша_з_символів_яку_ми_щойно_отримали